{% extends "art/base.html" %}
{% load static %}
 <header>
     {% block title %}Art blog{% endblock %}
 </header>

{% block content %}

    {% for image in images %}
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                    <h2>
                    <a href="{{ Image.absolute_url }}">{{ image.title }}</a>

                    </h2>




        <p class="date">
            Published {{ image.publish }} by {{ image.author }}
        </p>


        </div>
    {% endfor %}


{% endblock %}



