{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/journal/bootstrap.min.css" rel="stylesheet" integrity="sha384-vjBZc/DqIqR687k5rf6bUQ6IVSOxQUi9TcwtvULstA7+YGi//g3oT2qkh8W1Drx9" crossorigin="anonymous"

<header>

    <div class="navbar navbar-dark bg-dark shadow-sm">
        <h1 align="center" class="text-white"> Art Blog </h1>
        <h2 align="center" class="text-white"><a href="/flower">Flowers</a> </h2>
        <h2 align="center" class="text-white"><a href="/art">Blocks</a> </h2>
        <h2 align="center" class="text-white"><a href="/arti">Strange</a> </h2>
    </div>
</header>


</head>
<body>

<div id="content">
    {% block content %}
    {% endblock %}
</div>

<div id="sidebar">
    <h2>Art blog</h2>
    <p>By Irina Angelova, Ilya Kukushkin & Valery Tkachenko</p>
</div>

</body>
</html>



